@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 100%;
    
    --primary: 45 93% 47%; /* Yellow-Gold Industrial */
    --primary-foreground: 0 0% 0%;
    
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 40%;
    
    --border: 0 0% 10%;
  }
}

body {
    background-color: #050505;
    color: #ffffff;
}